{{#each this}}
<!--<div class="col-md-6 col-lg-6 col-xl-4">-->
<div class="col p-2">
    <div class="card" style="width: 18rem">
        <div class="rounded position-relative fruite-item">
            <div>
                <img src="../img/example_images/{{image}}" class="w-100 rounded-circle" alt="">
            </div>
            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                 style="top: 10px; left: 10px;">{{category}}
            </div>
            <div class="p-3 border-top-0 rounded-bottom">
                <h4>{{name}}</h4>
                <p>{{description}}</p>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">{{preis}}</p>
                    <div class="p-2">
                    <button id="bestellen"
                            class="btn border border-secondary rounded-pill px-3 text-primary"
                            onclick="zumWarenkorb(1)"><i
                            class="fa fa-shopping-bag me-2 text-primary"></i> In Warenkorb legen
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}