{{#each this}}
<div class="col-md-6 col-lg-6 col-xl-4">
    <div class="rounded position-relative fruite-item">
        <div class="fruite-img">
            <img src={{image}} class="img-fluid w-100 rounded-top" alt="">
        </div>
        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
             style="top: 10px; left: 10px;">Fruits
        </div>
        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold mb-0">34€</p>
                <button id="bestellen"
                        class="btn border border-secondary rounded-pill px-3 text-primary"
                        onclick="zumWarenkorb(1)"><i
                        class="fa fa-shopping-bag me-2 text-primary"></i> In Warenkorb legen
                </button>
            </div>
        </div>
    </div>
</div>
{{/each}}